<ion-header>
  <ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button text="" style="display: block;"></ion-back-button>
		</ion-buttons>
		<ion-title>Meus endereços</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ng-container *ngIf="enderecos && enderecos.length > 0; else noEnderecos">
		<main>
			<ion-list>
				<ion-item lines="none"  detail="false" *ngFor="let endereco of enderecos" class="endereco-item">
					<p>{{endereco.endereco.rua}}, {{endereco.endereco.numero}} - {{endereco.endereco.cidade}} - {{endereco.endereco.uf}}</p>
					<ion-icon name="trash-outline" (click)="removerEndereco(endereco)"></ion-icon>
				</ion-item>
			</ion-list>
		</main>
	</ng-container>
	<ng-template #noEnderecos>
		<div id="div-no-enderecos" class="div-no-content">
		  <div>
			<p id="txt-sem-enderecos">
			  Você não tem endereços cadastrados, <br />
			  clique para cadastrar!
			</p>
			<button id="btn-enderecos" routerLink="/tabs/home/endereco">Cadastrar enderecos</button>
		  </div>
		</div>
	  </ng-template>
</ion-content>
