.searchbar-div {
    padding: 0 20px;

    .searchbar {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        font-weight: 300;
    }
}

.section-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 15px 0 0 20px;
}

.slide-card {
    width: 200px;
    // height: 150px;
    .slide-card-header {
        padding: 0;
    }

    .slide-caption {
        margin-bottom: 0px;
    }

    .slide-card-content {
        padding: 5px 20px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}

.list-categoria {
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding: 10px 0;
    // padding: 0;
    .div-categoria {
        margin: 0 15px;
        width: 100px;
        display: inline-block;
        p {
            margin: 0;
            color: #b2b2b2;
        }

        &.active {
            background: #4e4e4e;
            border-radius: 30px;
            padding: 5px 20px;
            font-size: 14px;
            // width: 100%;
            p {
                color: white;
            }
        }
    }
}

.item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;

    .item-title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
    .item-desc {
        color: #b2b2b2;
        font-size: 12px;

        // height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }
    .item-price {
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
}
