<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main *ngIf="pedidos">
    <ion-item class="item-pedido" *ngFor="let pedido of pedidos" lines="none">
      <div class="div-pedido-data">
        <div class="data">
          <p class="data-dia">{{pedido.dia}}</p>
          <p class="data-mes">{{pedido.mes.substr(0,3).toUpperCase()}}</p>
        </div>
      </div>
      <div class="div-pedido-desc">
        <p class="div-pedido-desc-title">
          Itens do pedido
        </p>
        <p class="div-pedido-desc-item" *ngFor="let item of pedido.itens">
          {{item.nome}}
        </p>
        <p class="div-pedido-desc-item">
          ...
        </p>
      </div>
      <div class="div-pedido-actions">
        <button class="btn-pedido-detalhes" routerLink="pedido/{{pedido.id}}">Detalhes</button>
      </div>
    </ion-item>
  </main>


</ion-content>