* {
    outline: none;
}

.searchbar-div {
    padding: 0 20px;
    position: relative;

    .searchbar {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        font-weight: 300;
        background: white;
    }

    #lista-busca {
        position: absolute;
        width: 100%;
        z-index: 999;
        box-shadow: 4px 5px 5px rgba(0,0,0,.1);
        border-radius: 10px;
        left: 0px;
        // height: 100vh;
        // background: white;
    
        .img-item-busca {
            max-width: 80px;
            max-height: 80px;
        }
    }
}

.section-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 15px 0 0 20px;
}

.slide-card {
    width: 200px;
    // max-height: 80px;
    // height: 80px;
    display: flex;
    align-items: center;

    .slide-card-header {
        padding: 0;
        height: 100px;
        background-size: cover;
        background-position: center;
    }

    .slide-caption {
        margin-bottom: 0px;
    }

    .slide-name {
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .slide-card-content {
        padding: 5px 20px;
        height: 60px;
        display: flex;
        align-items: center;

        div{
            width: 100%;
            text-align: center;
        }
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}

.list-categoria {
    display: flex;
    // overflow-x: auto;
    width: 100%;
    align-items: center;
    padding: 10px;
    // padding: 0;
    .div-categoria {
        // margin: 0 15px;
        width: 33%;
        // width: 100px;
        display: inline-block;
        p {
            margin: 0;
            text-align: center;
            color: #b2b2b2;
        }

        &.active {
            background: #4e4e4e;
            border-radius: 30px;
            padding: 5px 20px;
            font-size: 14px;
            // width: 100%;
            p {
                color: white;
            }
        }
    }
}

.item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;

    .item-title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
    .item-desc {
        color: #b2b2b2;
        font-size: 12px;
        width: 100%;
        // height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: 200px;
    }
    .item-price {
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
}

.slide-card-skeleton {
    width: 200px;

    .slide-card-header-skeleton {
        padding: 0;
        margin-bottom: 10px;

        div {
            width: 100%;
            height: 50px;
            background-color: #dedede;
        }
    }

    .slide-content-skeleton {
        padding: 5px 10px;
    }
    .slide-caption-skeleton {
        margin-bottom: 0px;
        width: 100%;
        height: 18px;
        background-color: #dedede;
        border-radius: 5px;
    }
}

#section-categorias-skeleton {
    #list-categorias-skeleton {
        display: flex;
        overflow-x: auto;
        align-items: center;
        padding: 10px 20px;
    }
    .item-categoria-skeleton {
        width: 100px;
        height: 18px;
        background-color: #dedede;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
    }

    .produto-skeleton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 25px;

        .produto-desc-skeleton {
            width: 70%;

            .produto-title-skeleton {
                width: 80%;
                height: 18px;
                background-color: #dedede;
                border-radius: 5px;
            }

            .produto-text-skeleton {
                margin-top: 10px;
                width: 80%;
                height: 18px;
                background-color: #dedede;
                border-radius: 5px;
            }
        }

        .produto-img-skeleton {
            width: 30%;
            background-color: #dedede;
            height: 70px;
            max-height: auto;
            border-radius: 5px;
        }
    }
}

#select-enderecos {
    padding: 0 20px;
    .label-endereco {
        font-size: 14px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 5px;
    }
    .label-tempo-entrega {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 5px;
    }

    .name-endereco {
        font-weight: normal;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
