<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main *ngIf="user; else noUser">
    <header>
      <aside>
        <img src="https://placehold.it/100x100">
      </aside>
      <aside>
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.cpf}}</p>
      </aside>
    </header>
  </main>
  <ng-template #noUser>
    <div id="div-no-user" class="div-no-content">
      <div>
        <p id="txt-usuario-deslogado">
          Você está deslogado, <br />
          faça login para ver seu perfil!
        </p>
        <button id="btn-login" routerLink="/login">Fazer login</button>
      </div>
    </div>
  </ng-template>
</ion-content>