<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main *ngIf="user; else noUser">
    <header>
      <aside>
        <!-- <img src="https://placehold.it/100x100"> -->
        <div class="div-photo">
          {{initials}}
        </div>
      </aside>
      <aside>
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.cpf}}</p>
      </aside>
    </header>
    <div>
      <ion-list>
        <ion-item lines="none" routerLink="/tabs/lista-pedidos">
          <ion-icon name="newspaper-outline"></ion-icon>
          <p>Pedidos</p>
        </ion-item>
        <ion-item lines="none" routerLink="enderecos">
          <ion-icon name="locate-outline"></ion-icon>
          <p>Endereços</p>
        </ion-item>
        <ion-item lines="none" (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
          <p>Sair</p>
        </ion-item>
      </ion-list>
    </div>
  </main>
  <ng-template #noUser>
    <div id="div-no-user" class="div-no-content">
      <div>
        <p id="txt-usuario-deslogado">
          Você está deslogado, <br />
          faça login para ver seu perfil!
        </p>
        <button id="btn-login" routerLink="/login">Fazer login</button>
      </div>
    </div>
  </ng-template>
</ion-content>