<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" style="display: block;"></ion-back-button>
    </ion-buttons>
    <ion-title>Crie uma conta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <main>
    <div id="div-register-form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p>Crie uma conta!</p>

        <input placeholder="Nome" formControlName="nome">
        <input placeholder="Email" formControlName="email">
        <input placeholder="Senha" formControlName="senha">
        <input placeholder="Confirmar senha" formControlName="confirmacao_senha">

        <button type="submit" [disabled]="registerForm.invalid">Cadastrar</button>
      </form>
    </div>
  </main>
</ion-content>