main {
    height: 100%;

    #div-register-form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        p {
            font-size: 20px;
            color: #4e4e4e;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input {
            width: 90%;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }

        button {
            width: 90%;
            background: #4e4e4e;
            color: white;
            border-radius: 5px;
            border: none;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
