<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button text="" style="display: block;"></ion-back-button>
		</ion-buttons>
		<ion-title>{{produto ? produto.nome : 'Carregando...'}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ng-container *ngIf="produto; else loading">
		<header id="header-lanche">
			<div style="
				background-image: url(https://storage.googleapis.com/pokao-lanche/porkao/porkao-3-queijos.png);
				width: 100%;
				height: 200px;
				background-size: cover;
				background-position: center;"
			[style.background-image]="'url('+produto.url_image+')'">

				<!-- <img style="width: 100%;" [src]="produto.url_image"> -->
			</div>
			<main id="textos-lanche">
				<aside>
					<h2 class="lanche-nome">{{produto.nome}}</h2>
					<p class="lanche-desc">{{produto.descricao}}</p>
					<p class="lanche-preco">
						{{(produto.vltotal * qtd).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}
					</p>
				</aside>
				<aside id="aside-qtd">
					<button class="btn-qtd" id="btn-menos" (click)="subtrair()" [disabled]="qtd == 1">-</button>
					<div id="qtd-div">
						<span>{{qtd}}</span>
					</div>
					<button class="btn-qtd" id="btn-mais" (click)="adicionar()">+</button>
				</aside>
			</main>

		</header>

		<main>
			<section class="section-opcao" id="section-ingredientes" *ngIf="ingredientes?.length > 0">
				<header class="header-opcao" id="header-ingredientes">
					<h6>Ingredientes adicionais</h6>
					<div id="badge-ingredientes">
						{{adicionais.length}}/{{ingredientes.length}}
					</div>
				</header>

				<main>
					<ion-list>
						<ion-item class="item-ingrediente" *ngFor="let ingrediente of ingredientes" lines="none">
							<div class="div-info-ingrediente">
								<p class="ingrediente-nome">{{ingrediente.nome}}</p>
								<p class="ingrediente-valor">
									+ {{(
										ingrediente.vltotal * (ingrediente.qtd || 1)
									).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}
								</p>
							</div>
							<div class="div-adicionar">
								<!-- <button class="btn-adicionar-ingrediente" (click)="removerAdicional(ingrediente)">-</button> -->
								<a *ngIf="ingrediente.qtd" (click)="removerAdicional(ingrediente)">
									-
								</a>
								<p>{{ingrediente.qtd }}</p>
								<a [ngClass]="ingrediente.qtd ? 'disabled' : ''" (click)="adicionarAdicional(ingrediente)">
									+
								</a>

								<!-- <button class="btn-adicionar-ingrediente" (click)="adicionarAdicional(ingrediente)">+</button> -->
							</div>
						</ion-item>
					</ion-list>
				</main>
			</section>
			<section id="section-observacoes">
				<header class="header-opcao" id="header-observacoes">
					<h6>Observações</h6>
				</header>
				<main>
					<ion-textarea id="textarea-observacoes"></ion-textarea>
				</main>
			</section>
		</main>

		<footer id="footer-btn">
			<button id="btn-adicionar-carrinho" (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
		</footer>
	</ng-container>
</ion-content>

<ng-template #loading>
	<div style="background: #4e4e4e; width: 100%;height:100%;">
		<app-loading></app-loading>
	</div>
</ng-template>