#header-lanche {
    #textos-lanche {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin: 0px;
        }
        p {
            margin-top: 5px;
            font-size: 14px;
            color: #b2b2b2;
        }

        .lanche-preco {
            color: #4e4e4e;
            font-weight: bold;
        }
    }

    #aside-qtd {
        display: flex;

        #qtd-div {
            width: 25px;
            height: 25px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            color: #4e4e4e;
            margin: 0 5px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }

        .btn-qtd {
            border: none;
            color: white;
            background: #4e4e4e;
            border-radius: 3px;
            width: 25px;
            height: 25px;
        }
    }
}

.header-opcao {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    background: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4e4e4e;

    h6 {
        margin-top: 10px;
        color: #4e4e4e;
    }
}

.section-opcao {
    margin-bottom: 30px;
}

#section-ingredientes {
    #header-ingredientes {
        #badge-ingredientes {
            color: white;
            background: #4e4e4e;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
        }
    }

    .item-ingrediente {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-right: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .div-info-ingrediente {
            width: 70%;

            .ingrediente-nome {
                margin-bottom: 5px;
            }

            .ingrediente-valor {
                margin-top: 5px;
                font-size: 14px;
            }
        }

        .div-adicionar {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #4e4e4e;
                font-weight: bold;

                &.disabled {
                    color: #c1c1c1;
                }
            }

            .btn-adicionar-ingrediente {
                background: #4e4e4e;
                color: white;
                border-radius: 5px;
                height: 30px;
                width: 45%;
            }
        }
    }
}

#section-observacoes {
    margin-bottom: 10px;
    main {
        padding: 10px;
        #textarea-observacoes {
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 14px;
        }
    }
}

#footer-btn {
    text-align: center;
    padding: 0 10px 10px;

    #btn-adicionar-carrinho {
        background: #4e4e4e;
        color: white;
        height: 40px;
        border-radius: 5px;
        width: 100%;
    }
}
